body{
  margin:0;
  padding:0;
  background-image: url(bg2.jpg);

 background-repeat: no-repeat;
 background-size:cover;
   background-attachment:fixed;
   align-items: center;
}
.about{
  height:500px;
  width: auto;
  background-image: url(about.jpg);
  background-repeat: no-repeat;
  background-size:cover;
   background-attachment:fixed;
}
/*index*/
/* menubar */
.doted{
  display:none;
}
a{
  text-decoration:none;
  }


.menubar{
  color:0000;
  background-color:yellow;
  display:block;
  position:fixed;
  top:0px;
  margin-left:13%;
  border-radius:0 0 30% 30%;
  }
.men{
  margin-left:12%;
}
.Menu{
  padding:10px;
  padding-left:85px;
  padding-right:85px;
}
.bt{
  padding:6px;
  padding-left:25px;
    }

.si{
    text-align:left;
      padding:15px;
    }

span{
  display: inline-block;
  color:black;
  font-weight: bolder;
    }
  .logo{
    display:inline-block;
    height:30px;
    width:180px;
    margin:auto;
  }
  .lg{
    margin-top:10px;
  }
.dot{
  display: none;
}
.dot2{
  display: none;
}
.logm{
  display:none;
}
.btrr{
  display:none;
}
/*video*/
.vi{
  width:40%;
  height: auto;
  padding: 20px;
}
/* Slider */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* videos */
.TT{
font-weight: bolder;
font-size:25PX;
font-family: cursive;
color:blue;
background-color:yellow;
display:inline-block;
padding: 15px;
  border-radius:20%;
}
P{
  font-weight:bolder;
  color:blue;
}

/* Founder */
.man{
  height:400px;
  width:550px;
  align-items: center;
}
.p{display:inline;}

.founder{
  display:inline-block;
}
/* Team */
.tm{
  height:300px;
  width: auto;
}
.tex{
  display:-inline;
  color: blue;
  font-family: cursive;
  font-weight: bolder;
  font-size:25PX;
}
/* Footer */
.foo{
  background-color:black;
  width:100;

}
.right{
  color:white;
}
.icons{
  height:20px;
  width: auto;
}
/*about*/
.about{
  font-size:130px;
  font-family:cursive;
  font-weight:bolder;
  color:white;
  padding-top:100px;
}
h1{
  font-size:25px;
  font-weight:bolder;
  font-family:cursive;
  color:orange;
}
.cont{
  display: block;
  width:95%;
  font-size:22px;
  font-weight: bold;
  background-color:black;
  color:white;
}
.bst{
  padding:20px;
}
/*SIGNIN*/

.signin{
  display: block;
  width:80%;
  height:auto;
  background-color: white;
}

/* @media query */
  /* 800px */
  @media screen and (max-width:800px) {
  .menubar{
    display:none;
  }
  .btrr{
    display:none;
  }
  .logm{
    display:inline-block;
    height:30px;
    width: auto;
    padding-left:20px;
    padding-left:25%;
    padding-right:25%;
  }
  .doted{
    display:inline;
    height:30px;
    width:auto;

  }
  .bt{display: block;}
  .three:hover .btrr{display: block;}

  .rs{
    height:60px;
  }
  .nam{
    display:inline;
  }
  .man{
    width:100%;
  }
  .tm{
    width:90%;
    height:140px;
    margin:10px;
  }
  .btrr{
  background-color:yellow;
  color:black;
  }
  iframe{
    width:95%;
    margin:3px;
  }
  .slideshow-container{
    margin-top:20px;
  }
  p{color:blue;}
  .founder{
    background-color:white;
    margin:10px;
    margin-bottom: 20px;
  }
  .px{
    padding-top:10px;
    padding-bottom:10px;
  }

  .three{
    background-color:yellow;
    border-radius:0px 0px 100% 80%;
    position:fixed;
    top:0px;
    width: 100%;
  }

  .px{
    display: block;
    padding-top:30px;
    padding-bottom:40px;
    margin-bottom: auto;
    height:100px;
  }
  .btrr{
    color:black;
      border-radius:0px 0px 40% 40%;
  }
.btr> img{
  padding-bottom:5px;

}
    }
    @media screen and (max-width:1000px) {
    .menubar{
      display:none;
    }
    .btrr{
      display:none;
    }
    .logm{
      display:inline-block;
      height:40px;
      width:auto;
      padding-left:20px;
      padding-left:25%;
      padding-right:25%;
    }
    .doted{
      display:inline;
      height:40px;
      width:auto;

    }
    .bt{display: block;}
    .three:hover .btrr{display: block;}

    .rs{
      height:60px;
    }
    .nam{
      display:inline;
    }
    .man{
      width:100%;
    }
    .tm{
      width:90%;
      height:140px;
      margin:10px;
    }
    .btrr{
    background-color:yellow;
    color:black;
    }
    iframe{
      width:95%;
      margin:3px;
    }
    .best{
      height:400px;
      margin-bottom:20px;
    }
    .man{
      width:100%;
    }
    .founder{

    }
    .slideshow-container{
      margin-top:20px;
    }
    p{color:blue;}
    .founder{
      background-color:white;
      margin:10px;
      margin-bottom: 20px;
    }
    .px{
      padding-top:0px;
      padding-bottom:10px;
    }

    .three{
      background-color:yellow;
      border-radius:0px 0px 100% 80%;
      position:fixed;
      top:0px;
      width: 100%;
    }

    .px{
      display: block;
      padding-top:30px;
      padding-bottom:25px;
      height:100px;
    }
    .btrr{
      color:black;
        border-radius:0px 0px 30% 0%;
    }
  span > img{
    padding-bottom:20px;
    height:30px;
  }
  .btr{
      font-size:25px;
      padding-bottom:10px;
  }
  .icon{
    height:30px;
    width: auto;
    margin-top:10px;
    margin-bottom:15px;
  }
  .bt{
    font-family: sans-serif;
  }
      }
